<section
  class="listing"
  [attr.data-testid]="'housing-location-' + housingLocation.name"
>
  <img
    class="listing-photo"
    [src]="housingLocation.photo"
    alt="Exterior photo of {{ housingLocation.name }}"
  />
  <h2 class="listing-heading" data-testid="housing-location-name">
    {{ housingLocation.name }}
  </h2>
  <p class="listing-location" data-testid="housing-location-location">
    {{ housingLocation.city }}, {{ housingLocation.state }}
  </p>
  <a
    [attr.data-testid]="'housing-location-learn-more-' + housingLocation.name"
    [routerLink]="['/details', housingLocation['_id']]"
    >Learn More</a
  >
  <button class="primary" (click)="addToMyHomes(housingLocation)">Add to My List</button>
</section>
