<div *ngIf="myHomesList.length === 0">There are currently no saved listings.</div>
<table *ngIf="myHomesList.length > 0" class="table">
    <thead>
        <tr>
            <th>List</th>
            <th>City</th>
            <th>State</th>
            <th>Available Units</th>
            <th>Applied</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-myHome [ngForOf]="myHomesList" let-i="index">
            <tr>
                <td>{{ myHome.name }}</td>
                <td>{{ myHome.city }}</td>
                <td>{{ myHome.state }}</td>
                <td>{{ myHome.availableUnits }}</td>
                <!-- <td>{{ myHome.applicationSubmitted }}</td> -->
                <td>
                    <div *ngIf="myHome.applicationSubmitted; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock><i class="bi bi-check-circle-fill"></i></ng-template>
                    <ng-template #elseBlock><i class="bi bi-x-circle-fill"></i></ng-template>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <i class="bi bi-trash-fill" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
        
        
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Remove Listing</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to remove {{ myHome.name }} from your list?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onDelete(myHome._id)">Delete</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </tbody>
</table>
